.aboutCont {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  margin-bottom: 100px;
}

.aboutHeadLine {
  width: 50%;
  margin-bottom: 30px;
}

.text {
  font-family: 'Montserrat', sans-serif;
}